<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./src/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Questrial&family=Sniglet&display=swap" rel="stylesheet">
  <title>Happynings with Jovia 1.0</title>
</head>
<body class="transition-all duration-400 flex items-center justify-center min-h-screen h-auto w-full overflow-x-hidden">

  <main id="app" class="w-full h-screen">
    <button @click="nextPage(0)" class="bg-red-500 absolute top-0 left-0 z-50">Reset</button>
    <!-- page 0 -->
    <section class="flex items-center justify-center" v-if="getPage() == 0" @click="nextPage(1)">
        <img class="w-[75%] h-auto" src="src/images/page-0.png" alt="">
        
    </section>

    <!-- page 1 -->
    <section class="flex items-center justify-center" v-if="getPage() == 1" @click="nextPage(2)">
       <img class="w-[90%] h-auto" src="src/images/page-1.png" alt="">
    </section>

    <!-- page 2 -->
    <section class="flex items-center justify-center" v-if="getPage() == 2" @click="nextPage(3)">
       <img class="w-[90%] h-auto" src="src/images/page-2.png" alt="">
    </section>

    <!-- page 3 -->
    <section class="flex items-center justify-center bg-primary-1 w-full h-screen" v-if="getPage() == 3" @click="nextPage(4)">
       <img class="w-[800px] h-auto" src="src/images/page-3.png" alt="">
    </section>

    <!-- page 4 -->
    <section class="flex items-center justify-center bg-primary-1 w-full h-screen" v-if="getPage() == 4" @click="nextPage(4)">
      
      <div class="grid grid-cols-2 w-full h-max">
        <div class="w-full h-screen flex place-items-center relative">
          <div class="ml-[20%] -mt-[30%] w-[65%]">
            <img class="w-full h-auto" src="src/images/tv-1.png" alt="">
            <audio controls class="absolute top-[42%] left-[35%] w-[35%]">
              <source src="src/audio/hiaraya_manwari.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>

        <div class="w-full h-screen flex flex-col place-items-center relative">
          <img class=" mt-[10%] w-[60%]" src="src/images/q1.svg" alt="">
          <input class="mt-[2%] w-[50%] border-[10px] p-[20px] bg-transparent rounded-[20px] border-primary-2 text-[20px] font-tertiary-font" type="text">
        </div>
      </div>
      
        <img class="absolute left-[5%] bottom-[5%] z-50 w-[9%]" src="src/images/plant-1.png" alt="">
        <img class="absolute right-[5%] bottom-[30%] z-50 w-[9%]" src="src/images/plant-3.png" alt="">
        <img class="absolute bottom-[5%] z-50 w-[40%]" src="src/images/couch-1.png" alt="">
        <div class="w-full h-[16%] bg-primary-2 absolute bottom-0 left-0"></div>
    </section>
  </main>

</body>
<!-- <script type="module" src="./src/scripts/main.js"></script> -->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
  
  if(sessionStorage.getItem('page_id') == null) {
    sessionStorage.setItem('page_id', 0)
  }

  const app = new Vue({
    el: '#app',
    data: {
      active_page: 0
    },
    methods: {
      nextPage: function (current_page){
         sessionStorage.setItem('page_id', current_page);
         this.active_page = current_page
      },
      getPage: function () {
        this.active_page = parseInt(sessionStorage.getItem('page_id'))
        return this.active_page
      }
    }
  })
</script>
</html>